@font-face {
    font-family: 'Britannic';
    src: url('../fonts/Britannic Ultra.eot');
    src: local('☺'), url('../fonts/Britannic.woff') format('woff'),
         url('../fonts/Britannic.ttf') format('truetype'),
         url('../fonts/Britannic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Britannic';
    src: url('../fonts/Britannic Ultra.eot');
    src: local('☺'), url('../fonts/Britannic Medium.woff') format('woff'),
         url('../fonts/Britannic Medium.ttf') format('truetype'),
         url('../fonts/Britannic Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Britannic';
    src: url('../fonts/Britannic Bold.eot');
    src: local('☺'), url('../fonts/Britannic Bold.woff') format('woff'),
         url('../fonts/Britannic Bold.ttf') format('truetype'),
         url('../fonts/Britannic Bold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Britannic';
    src: url('../fonts/Britannic Ultra.eot');
    src: local('☺'), url('../fonts/Britannic Ultra.woff') format('woff'),
         url('../fonts/Britannic Ultra.ttf') format('truetype'),
         url('../fonts/Britannic Ultra.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    padding-top: 40px;
    font-size: 15px;
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-default {
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    /*color: #337ab7;*/
    color: #000000;
    font-weight: bold;
}

.row.row-boxed {
    border: solid black;
    padding-left: 15px;
    padding-right: 15px;
}

.row:not(.row-boxed) {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.container {
    margin-bottom: 10px;
}

.page-container {
    padding-left: 10px;
    padding-right: 10px;
}

.form-control.form-control-inline {
    display: inline-block;
}

.intro-column {
    padding-top: 20px;
    padding-bottom: 8px;
}

.clusters table tr.centroid,
.clusters table tr.centroid input {
    /*background-color: #d9edf7;*/
    background-color: #d5d5d5;
    font-weight: bold;
}

.tokenContainer .tokenDiv {
    float: left;
    display: inline-block;
    width: auto;
    margin-right: 10px;
    margin-bottom: 8px;
    border: 1px solid #e0e0e0;
}

table.tokenTable .td-form {
    padding: 0;
    /*height: 32px;*/
    min-width: 60px;
}

table.tokenTable .td-form > .inputToken,
table.tokenTable .td-form > select {
    min-width: 60px;
    height: 32px;
    padding: 1px 7px;
    margin: 0;
    border: none;
    border-radius: 0;
    background: white;
}

table.tokenTable .td-form > .inputToken {
    font-size: 18px;
}
table.tokenTable .td-form > select {
    font-size: 14px;
    height: 28px !important;
    color: #5e5e5e;
    /*min-width: 70px;*/
    width: 70px;
}
table.tokenTable .td-form > select.selectElem {
    /*min-width: 70px;*/
    width: 120px;
}

.tableContainer.scrollable-x {
    overflow-x: scroll;
}

/*** Utils ***/
.no-mag-top {
    margin-top: 0 !important;
}
.no-mag-bot {
    margin-bottom: 0 !important;;
}
.no-pad-top {
    padding-top: 0 !important;;
}
.no-pad-bot {
    padding-bottom: 0 !important;;
}

.relationPronoun select,
.inquireSQL select, .inquireSQL input {
    background-color: #ffffff !important;
    border-color: #999;
}

/*** For Changed UI Design by SDK ***/
body {
    font-size: 16px;
}
.page-container {
    border: 1px solid #d9d9d9;
}
h2.h2-title {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}
h2.h2-title strong {
    font-family: Britannic, Calibri, sans-serif;
    font-weight: 600;
    color: #0000ff;
    font-size: 38px;
}
h2.h2-title.page-title {
    padding-right: 280px;
}
.intro-column {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}
.intro-column > p {
    text-align: center;
    font-weight: 600;
    line-height: 18px;
    padding: 2px 0 0 0;
}

.buttonsDiv {
    margin: 0 100px;
}
.btn {
    font-family: Britannic, Calibri, sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.btn.btn-lg {
    border-color: #000000;
    border-radius: 20px;
    font-size: 20px;
    padding: 6px 10px;
}
.btn.btn-primary {
    background-color: #404040;
}
.btn.btn-primary:hover {
    background-color: #262626;
}
.btn.btn-primary[disabled] {
    background-color: #a6a6a6;
}
.btn.btn-primary[disabled]:hover {
    background-color: #a6a6a6;
}
.btn.btn-info {
    background-color: #7f7f7f;
}
.btn.btn-info:hover {
    background-color: #595959;
}
.btn.btn-info[disabled] {
    background-color: #a6a6a6;
}
.btn.btn-info[disabled]:hover {
    background-color: #a6a6a6;
}
.btn.btn-menu {
    font-family: Britannic, Calibri, sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding: 8px 16px 6px;
    color: #ffffff;
    background-color: #7f7f7f;
    border-color: #000000;
    border-radius: 0 !important;
}
.btn.btn-menu:hover {
    background-color: #595959;
}
.btn.btn-menu.selected {
    background-color: #404040;
}

.answerEvaluation .btn-eval {
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    background: #ffffff;
    padding: 4px;
}
.answerEvaluation .btn-eval.btn-eval-good {
    background: url('../img/good_icon.png') no-repeat center;
    background-size: 32px auto;
}

.answerEvaluation .btn-eval.btn-eval-bad {
    background: url('../img/bad_icon.png') no-repeat center;
    background-size: 32px auto;
}

h4 {
    font-size: 20px;
}
.form-control {
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.container.container-box > h4 {
    width: 280px;
    background-color: #bfbfbf;
    color: #000000;
    font-weight: 700;
    padding: 6px 8px;
    text-align: center;
    border: 1px solid #7f7f7f;
    border-bottom: 0;
    margin-bottom: 0;
}

.container.container-box > .container-box-body {
    background-color: #f2f2f2;
    border: 1px solid #7f7f7f;
    border-radius: 0;
    font-size: 18px;
}

.container.container-box > .container-box-body > .container-box-body-desc {
    margin: 0px 15px 15px 15px;
    padding-bottom: 10px;
}

.container-box-body-desc .container-box-content {
    display: inline-block;
}

.container-box-body-desc .container-box-buttons {
    display: inline-block;
    float: right;
    /*width: 20%;*/
    min-width: 160px;
}

.container-box-body-desc .container-box-buttons-container {
    height: 40px;
    margin-bottom: 10px;
}

.container-box-buttons > .btn.btn-lg {
    width: 100%;
}

.container.container-box > .container-box-body textarea.form-control {
    max-width: 886px;
    font-size: 20px;
    margin: 15px;
}

.container.container-box > .container-box-body .inner-fit-table {
    width: 100%;
    border-bottom: 1px solid #7f7f7f;
    margin-bottom: 15px;
}

.table-analyzed-sentence {
    /*border: 1px solid #7f7f7f;*/
    /*border-bottom: 1px solid #7f7f7f;*/
}
.table-analyzed-sentence th {
    background-color: #e48312;
    color: white;
    text-align: center;
}
.table-analyzed-sentence tr {
    background-color: #f5d9cc;
    font-size: 16px;
}
.table-analyzed-sentence tr:nth-of-type(2n) {
    background-color: #faede7;
}
.table-analyzed-sentence {
    border-collapse: collapse;
}
.table-analyzed-sentence td, .table-analyzed-sentence th {
    border: 1px solid white;
    padding: 2px 4px;
}
.table-analyzed-sentence tr:first-child th {
    border-top: 0;
}
.table-analyzed-sentence tr:last-child td {
    border-bottom: 0;
}
.table-analyzed-sentence tr td:first-child,
.table-analyzed-sentence tr th:first-child {
    border-left: 0;
}
.table-analyzed-sentence tr td:last-child,
.table-analyzed-sentence tr th:last-child {
    border-right: 0;
}

.analyzed-sentence-info .analyzed-sentence-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pronounSentence {
    margin-bottom: 10px;
}
.pronounSentence > .pronounSentHeader > .sentText strong {
    color: #0070c0;
}
.pronounToken {
    display: inline-block;
    margin-right: 10px;
}
.pronounToken > .form-control {
    width: auto !important;
    min-width: 300px !important;
    display: block;
    border-radius: 0;
}
.pronounToken > .form-control.pronounTokenOriginal {
    display: inline-block;
    font-weight: 700;
}
.pronounToken > .form-control.pronounTokenReplacement {
    margin-top: -1px;
}




.container.container-sent-input .form-control,
.container.answerContainer .form-control{
    background-color: #f2f2f2;
    border: 1px solid #7f7f7f;
    border-radius: 0;
    /*font-size: 20px;*/
    font-size: 18px;
}



.container.convertedSentencesContainer > .convertedSentencesDiv,
.container.relationPronounContainer > .relationPronounDiv,
.container .inquireSQLDiv,
.container.relationPronounContainer > .convertedSentencesDiv {
    background-color: #f2f2f2;
    border: 1px solid #7f7f7f;
    border-radius: 0;
}

.convertedSentencesDiv .convertedSentences,
.relationPronounDiv .relationPronoun,
.inquireSQLDiv .inquireSQL {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.relationPronounDiv .relationPronounButton {
    margin-top: 10px;
    margin-bottom: 10px;
}
.relationPronounDiv .relationPronounButton .btn {
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.relationPronounDiv .relationPronounButton .btn:hover {
    background-color: #9d9d9d;
}

.relationPronoun .relationHeader {
    font-size: 18px;
}
.relationPronoun .removeRelation {
    color: #7f7f7f;
    font-size: 14px;
}
.relationPronoun .removeRelation:hover {
    color: #333;
    cursor: pointer;
}

.convertedSentences .tokensHeader {
    font-size: 18px;
}
.convertedSentences .tokenDiv {
    background-color: #ffffff;
}
table.tokenTable .td-form > .inputToken {
    font-size: 18px;
}
table.tokenTable .td-form > select {
    font-size: 16px;
}

.container.answerContainer .answerArea {
    background-color: #f2f2f2;
    border: 1px solid #7f7f7f;
    border-radius: 0;
    /*font-size: 20px;*/
    font-size: 18px;
    line-height: 36px;
    padding: 5px 10px;
}

.dbForm h4 {
    font-size: 20px;
    font-weight: bold;
}

.btn.btn-dbtable {
    background-color: #f2f2f2;
    border: 1px solid #7f7f7f;
    border-radius: 12px 20px 12px 20px;
    padding: 6px 12px;
    min-width: 140px;
    margin: 6px 4px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.btn.btn-dbtable:hover {
    background-color: #d9d9d9;
}
.btn.btn-dbtable.selected {
    background-color: #bfbfbf;
}

/*** ask me ver2 ***/
.inquireSQLContainer h4.inquireSQLTab {
    display: inline-block;
    background-color: #ffffff;
    color: #7f7f7f;
}

.inquireSQLContainer h4.inquireSQLTab.selected {
    display: inline-block;
    background-color: #bfbfbf;
    color: #000000;
}

.inquireSQLContainer .inquireSQL {
    padding: 0 10px;
}
.inquireSQLContainer .inquireSQLElem {
    display: inline-block;
    margin: 10px 5px;
}
.inquireSQLContainer .inquireSQLElem .removeElem {
    color: #7f7f7f;
}
.inquireSQLContainer .inquireSQLElem .removeElem:hover {
    color: #333;
    cursor: pointer;
}
.inquireSQLContainer .inquireSQLElem.inquireSQLOperator {
    font-size: 20px;
    font-weight: bold;
}
.inquireSQLContainer .inquireSQLBracket {
    display: inline-block;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.inquireSQLContainer .inquireSQLElem.inquireSQLElemGroup {
    padding: 0;
    margin: 0;
}

.inquireSQLContainer .inquireSQLNode input {
    border-radius: 5px !important;
}

.inquireSQLContainer .addElem {
    margin-left: 15px;
    display: inline-block;
    height: 34px;
}
.inquireSQLContainer .addElem.dropdown > .btn.dropdown-toggle {
    height: 34px;
    /*border-width: 1px;*/
    padding: 3px 12px;
    border: 1px solid #7f7f7f;
}
.inquireSQLContainer .addElem button,
.inquireSQLContainer .addElem span,
.inquireSQLContainer .addElem a {
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.inquireSQLContainer .addElem a {
    font-size: 16px !important;
}
