{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="template of MIAAS">
    <meta name="author" content="Hanter Jung">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.css' %}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'lib/bootstrap-origin/assets/css/ie10-viewport-bug-workaround.css' %}">

    <script src="{% static 'lib/bootstrap-origin/assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container page-container">
    <div class="row no-mag-bot no-mag-top">
        <h2 class="h2-title col-xs-12 no-mag-bot" style="text-align: center"><strong>Intelligent eManual System</strong></h2>
{#        <h2 class="h2-title col-xs-12 page-title no-mag-bot" style="text-align: center"><strong>Intelligent eManual System</strong></h2>#}
{#        <h4 class="h4-title col-xs-12 no-mag-top no-mag-bot" style="text-align: right;"><i>Proof-of-Concept Implementation</i></h4>#}
    </div>
    <div class="row row-menu">
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-6 intro-column">
                <button class="btn btn-lg btn-menu col-xs-12" id="btnConvertMenu" type="button" onclick="showConvert()">CONVERT</button>
                <p class="col-xs-12">Convert user manual into<br/>SCDL-NL-2 sentences</p>
            </div>

{#            <div class="col-xs-12 col-md-4 intro-column">#}
{#                <button class="btn btn-lg btn-menu col-xs-12" id="btnInquireMenu" type="button" onclick="showInquire()">ASK ME</button>#}
{#                <p class="col-xs-12">Construct and Process SQL Query</p>#}
{#            </div>#}

            <div class="col-xs-12 col-md-6 intro-column">
                <button class="btn btn-lg btn-menu col-xs-12" id="btnDBMenu" type="button" onclick="showDB()">SHOW DB</button>
                <p class="col-xs-12">Show the database insight</p>
            </div>
        </div>
    </div>

    <div class="row " id="convertForm" style="border-top-style: none">
        <div class="row sentenceInputRow" style="border-style: none">
            <div class="container container-box col-xs-12">
                <h4>Input Sentence</h4>
                <div class="container-box-body">
                    <textarea class="form-control text-area" id="inputOriginSentences" name="inputOriginSentences"
                        placeholder="ex) The vehicle has an electronic key release system. This system is to prevent ignition key removal."
                        rows="4" ></textarea>
                    <div class="container-box-body-desc">
                        <div class="container-box-content">
{#                            <p>#}
{#                                Rules to follow: <br />#}
{#                                If multiple sub-sentences in one sentence, we break it.#}
{#                            </p>#}
                        </div>
                        <div class="container-box-buttons">
                            <button id="btnConvert" class="btn btn-primary btn-lg">Convert</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row convertedSentencesRow">
            <div class="container container-box convertedSentencesContainer col-xs-12">
                <h4>Analyzed Sentence</h4>
                <div class="container-box-body">
                    <table class="inner-fit-table table-analyzed-sentence">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Verb</th>
                                <th>Complement</th>
                                <th>Object</th>
                                <th>SP</th>
                                <th>TP</th>
                                <th>MP</th>
                                <th>OC</th>
                                <th>AC</th>
                                <th>GC</th>
                                <th>WH</th>
                                <th>CJ</th>
                                <th>Object2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ex-tr tr-analyzed-sentence">
                                <td class="td-as-subject"></td>
                                <td class="td-as-verb"></td>
                                <td class="td-as-complement"></td>
                                <td class="td-as-object"></td>
                                <td class="td-as-sp"></td>
                                <td class="td-as-tp"></td>
                                <td class="td-as-mp"></td>
                                <td class="td-as-oc"></td>
                                <td class="td-as-ac"></td>
                                <td class="td-as-gc"></td>
                                <td class="td-as-wh"></td>
                                <td class="td-as-cj"></td>
                                <td class="td-as-object2"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="container-box-body-desc">
                        <div class="container-box-content analyzed-sentence-info">
                            <div class="analyzed-sentence-title">Pronouns:</div>
                            <div class="pronounSentenceDiv">
                                <div class="pronounSentence ex-pronounSentence">
                                    <p class="pronounSentHeader">Sentence #<span class="sentNum">2</span>)
                                        <span class="sentText"><strong>It</strong> also has information about emergency procedures.</span></p>
                                    <div class="pronounTokenDiv">
                                        <div class="pronounToken ex-pronounToken">
                                            <span class="form-control pronounTokenOriginal" >The Couple</span>
                                            <select class="form-control pronounTokenSelect">
                                                <option value="__NO_VALUE__" disabled selected>Select an option</option>
                                            </select>
                                            <input type="text" class="form-control pronounTokenReplacement"
                                                   placeholder="Enter your own"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-box-buttons-container">
                            <div class="container-box-buttons">
                                <button id="btnSavePronoun" class="btn btn-primary btn-lg">Save Pronoun</button>
                                <button id="btnSaveDB" class="btn btn-primary btn-lg">Save to DB</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#        <div id="convertQueryButtonContainer" class="row buttonsDiv acceptBtnsDiv convertQueryButtonContainer">#}
{#            <div class="col-xs-3">#}
{#                <button id="btnQueryRefine" class="btn btn-primary btn-lg col-xs-12">Refine</button>#}
{#            </div>#}
{#            <div class="col-xs-3">#}
{#                <button id="btnQueryAccept" class="btn btn-info btn-lg col-xs-12">Accept</button>#}
{#            </div>#}
{#            <div class="col-xs-3">#}
{#                <button id="btnQueryClear" class="btn btn-info btn-lg col-xs-12">Cancel</button>#}
{#            </div>#}
{#        </div>#}
    </div>

    <div class="row " id="inquireForm" style="border-top-style: none">
        <div class="row" style="border-style: none">
            <div class="inquireSQLContainer container container-box col-xs-12">
                <h4 class="inquireSQLTab selected" id="btnTypeSQL" onclick="setInquiryTypeSQL();">Type SQL Query</h4>
                <h4 class="inquireSQLTab" id="btnSelectSQL" onclick="setInquirySelectSQL();">Select Query</h4>
                <textarea class="form-control text-area" id="inputSQLQuery" name="inputSQLQuery"
                          placeholder="ex) SELECT * FROM ConvertedSentence WHERE (root='is' AND mark='to') OR root='has';"
                          rows="4" ></textarea>
                <div class="inquireSQLDiv col-xs-12" id="inquirySelectSQL" style="display: none;">
                    <div class="inquireSQL form-inline row" id="inquireSQL">
{#                        <div class="inquireSQLElem inquireSQLElemGroup">#}
{#                            <div class="inquireSQLBracket inquireSQLBracket-left">(</div>#}
{##}
{#                            <div class="inquireSQLElem inquireSQLNode ex ex-inquireSQLNode">#}
{#                                <input type="text" class="form-control" size="20">#}
{#                                <select class="form-control">#}
{#                                    <option value="" selected disabled >-</option>#}
{#                                    <option >Subject</option>#}
{#                                    <option >Verb</option>#}
{#                                    <option >Object</option>#}
{#                                    <option >Complement</option>#}
{#                                    <option >Adverb</option>#}
{#                                    <option >Auxiliary Verb</option>#}
{#                                </select>#}
{#                                <span class="removeElem glyphicon glyphicon-remove" aria-hidden="true"></span>#}
{#                            </div>#}
{##}
{#                            <div class="inquireSQLElem inquireSQLOperator">OR</div>#}
{##}
{#                            <div class="inquireSQLElem inquireSQLNode ex ex-inquireSQLNode">#}
{#                                <input type="text" class="form-control" size="20">#}
{#                                <select class="form-control">#}
{#                                    <option value="" selected disabled >-</option>#}
{#                                    <option >Subject</option>#}
{#                                    <option >Verb</option>#}
{#                                    <option >Object</option>#}
{#                                    <option >Complement</option>#}
{#                                    <option >Adverb</option>#}
{#                                    <option >Auxiliary Verb</option>#}
{#                                </select>#}
{#                                <span class="removeElem glyphicon glyphicon-remove" aria-hidden="true"></span>#}
{#                            </div>#}
{##}
{#                            <div class="addElem dropdown ex-addElem ex">#}
{#                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#                                    Add <span class="caret"></span>#}
{#                                </button>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li><a href="#">AND</a></li>#}
{#                                    <li><a href="#">OR</a></li>#}
{#                                    <li role="separator" class="divider"></li>#}
{#                                    <li><a href="#">Bracket</a></li>#}
{#                                </ul>#}
{#                            </div>#}
{##}
{#                            <div class="inquireSQLBracket inquireSQLBracket-right">)</div>#}
{#                        </div>#}

{#                        <div class="inquireSQLElem inquireSQLOperator">AND</div>#}

                        <div class="inquireSQLElem inquireSQLNode ex ex-inquireSQLNode">
                            <input type="text" class="elemText form-control" size="20">
                            <select class="elemRole form-control">
                                <option value="" selected disabled >-</option>
                                <option >root</option>
                                <option >nsubj</option>
                                <option >dep</option>
                                <option >aux</option>
                                <option >auxpass</option>
                                <option >cop</option>
                                <option >arg</option>
                                <option >agent</option>
                                <option >comp</option>
                                <option >acomp</option>
                                <option >ccomp</option>
                                <option >xcomp</option>
                                <option >obj</option>
                                <option >dobj</option>
                                <option >iobj</option>
                                <option >pobj</option>
                                <option >subj</option>
                                <option >nsubj</option>
                                <option >nsubjpass</option>
                                <option >csubj</option>
                                <option >csubjpass</option>
                                <option >cc</option>
                                <option >conj</option>
                                <option >expl</option>
                                <option >mod</option>
                                <option >amod</option>
                                <option >appos</option>
                                <option >advcl</option>
                                <option >det</option>
                                <option >predet</option>
                                <option >preconj</option>
                                <option >vmod</option>
                                <option >mwe</option>
                                <option >mark</option>
                                <option >advmod</option>
                                <option >neg</option>
                                <option >rcmod</option>
                                <option >quantmod</option>
                                <option >nn</option>
                                <option >npadvmod</option>
                                <option >tmod</option>
                                <option >num</option>
                                <option >number</option>
                                <option >prep</option>
                                <option >poss</option>
                                <option >possessive</option>
                                <option >prt</option>
                                <option >parataxis</option>
                                <option >goeswith</option>
                                <option >punct</option>
                                <option >ref</option>
                                <option >sdep</option>
                                <option >xsubj</option>
                            </select>
                            <span class="removeElem glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>

                        <div class="addElem dropdown ex-addElem ex">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                ADD<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" >
                                <li><a href="#" class="addElemElem whenEmpty">Add Element</a></li>
                                <li role="separator" class="divider whenEmpty"></li>
                                <li><a href="#" class="addElemGroup whenEmpty">Add Bracket</a></li>

                                <li><a href="#" class="addElemAndElem whenFill">Add AND Element</a></li>
                                <li><a href="#" class="addElemOrElem whenFill">Add OR Element</a></li>
                                <li role="separator" class="divider whenFill"></li>
                                <li><a href="#" class="addElemAndGroup whenFill">Add AND Bracket</a></li>
                                <li><a href="#" class="addElemOrGroup whenFill">Add OR Bracket</a></li>

                                <li role="separator" class="divider whenParentGroup"></li>
                                <li><a href="#" class="addElemRemoveGroup whenParentGroup">Remove this Bracket</a></li>
                            </ul>
                        </div>

{#                        <div class="col-xs-8">#}
{#                            <label>Noun: </label>#}
{#                            <input type="text" id="inquireSQLNoun" class="form-control" size="30" />#}
{#                            <select id="inquireSQLNounType" class="form-control">#}
{#                                <option>Subject</option>#}
{#                                <option>Object</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-xs-4">#}
{#                            <label>Verb: </label>#}
{#                            <input type="text" id="inquireSQLVerb" class="form-control" />#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>

        <div class="row convertBtnDiv buttonsDiv">
            <div class="col-xs-offset-3 col-xs-3">
                <button id="btnInquire" class="btn btn-primary btn-lg col-xs-12">Answer</button>
            </div>
            <div class="col-xs-3">
                <button id="btnInquireCancel" class="btn btn-info btn-lg col-xs-12">Cancel</button>
            </div>
        </div>

        <div class="row answerSentenceContainer" style="border-style: none">
            <div class="container container-box col-xs-12 col-md-12 answerContainer no-mag-bot">
                <h4 class="answerNum">Answers</h4>
                <div class="answerArea col-xs-12">
                </div>
            </div>
        </div>
        <div class="row typeQueryTableContainer">
            <div class="tableContainer scrollable-x container col-xs-12">
                <table class="table table-bordered dbTable">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row buttonsDiv answerResultButtonContainer">
            <div class="col-xs-offset-3 col-xs-6">
                <button id="btnInquireClear" class="btn btn-primary btn-lg col-xs-12">Clear</button>
            </div>
            <br/><br/>
        </div>

    </div>

    <div class="row " id="dbForm" style="border-top-style: none">
        <div class="row dbTableContainer">
            <div class="container col-xs-12">
                <h4>Tables</h4>
                <div class="buttonsTableDiv">
                    <button class="btn btn-dbtable btn-lg" data-tablename="SourceSentence">SourceSentence</button>
                    <button class="btn btn-dbtable btn-lg" data-tablename="ConvertedSentence">ConvertedSentence</button>
{#                    <button class="btn btn-dbtable btn-lg" data-tablename="SentenceElement">SentenceElement</button>#}
{#                    <button class="btn btn-dbtable btn-lg" data-tablename="SentenceSchema">SentenceSchema</button>#}
{#                    <button class="btn btn-dbtable btn-lg" data-tablename="Dependency">Dependency</button>#}
{#                    <button class="btn btn-dbtable btn-lg" data-tablename="PronounDependency">PronounDependency</button>#}
                </div>
            </div>
            <div class="tableContainer scrollable-x container col-xs-12">
                <table class="table table-bordered dbTable">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div id="alertModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="alertModalTitle" class="modal-title">Modal title</h4>
            </div>
                <div class="modal-body">
                <p id="alertModalMsg">One fine body&hellip;</p>
            </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
a</div><!-- /.modal -->

<!-- scripts -->
<script src="{% static "lib/jquery/jquery-2.2.0.min.js" %}"></script>
<script src="{% static "lib/bootstrap-origin/js/bootstrap.min.js" %}"></script>
<script src="{% static "lib/jquery/plugins/loadingoverlay.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "lib/bootstrap-origin/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>


</body>
</html>



{#                                <td class="td-form"><select class="selectTag" disabled >#}
{#                                    <option >CC</option>#}
{#                                    <option >CD</option>#}
{#                                    <option >DT</option>#}
{#                                    <option >EX</option>#}
{#                                    <option >FW</option>#}
{#                                    <option >IN</option>#}
{#                                    <option >JJ</option>#}
{#                                    <option >JJR</option>#}
{#                                    <option >JJS</option>#}
{#                                    <option >LS</option>#}
{#                                    <option >MD</option>#}
{#                                    <option >NN</option>#}
{#                                    <option >NNS</option>#}
{#                                    <option >NNP</option>#}
{#                                    <option >NNPS</option>#}
{#                                    <option >PDT</option>#}
{#                                    <option >POS</option>#}
{#                                    <option >PRP</option>#}
{#                                    <option >PRP$</option>#}
{#                                    <option >RB</option>#}
{#                                    <option >RBR</option>#}
{#                                    <option >RBS</option>#}
{#                                    <option >RP</option>#}
{#                                    <option >SYM</option>#}
{#                                    <option >TO</option>#}
{#                                    <option >UH</option>#}
{#                                    <option >VB</option>#}
{#                                    <option >VBD</option>#}
{#                                    <option >VBG</option>#}
{#                                    <option >VBN</option>#}
{#                                    <option >VBP</option>#}
{#                                    <option >VBZ</option>#}
{#                                    <option >WDT</option>#}
{#                                    <option >WP</option>#}
{#                                    <option >WP$</option>#}
{#                                    <option >WRB</option>#}
{#                                    <option >$</option>#}
{#                                    <option >#</option>#}
{#                                    <option >“</option>#}
{#                                    <option >”</option>#}
{#                                    <!--option >"</option-->#}
{#                                    <option >(</option>#}
{#                                    <option >)</option>#}
{#                                    <option >,</option>#}
{#                                    <option >.</option>#}
{#                                    <option >:</option>#}
{#                                </select></td>#}


{#                                    <option></option>#}
{#                                    <option >nsubj</option>#}
{#                                    <option >dep</option>#}
{#                                    <option >aux</option>#}
{#                                    <option >auxpass</option>#}
{#                                    <option >cop</option>#}
{#                                    <option >arg</option>#}
{#                                    <option >agent</option>#}
{#                                    <option >comp</option>#}
{#                                    <option >acomp</option>#}
{#                                    <option >ccomp</option>#}
{#                                    <option >xcomp</option>#}
{#                                    <option >obj</option>#}
{#                                    <option >dobj</option>#}
{#                                    <option >iobj</option>#}
{#                                    <option >pobj</option>#}
{#                                    <option >subj</option>#}
{#                                    <option >nsubj</option>#}
{#                                    <option >nsubjpass</option>#}
{#                                    <option >csubj</option>#}
{#                                    <option >csubjpass</option>#}
{#                                    <option >cc</option>#}
{#                                    <option >conj</option>#}
{#                                    <option >expl</option>#}
{#                                    <option >mod</option>#}
{#                                    <option >amod</option>#}
{#                                    <option >appos</option>#}
{#                                    <option >advcl</option>#}
{#                                    <option >det</option>#}
{#                                    <option >predet</option>#}
{#                                    <option >preconj</option>#}
{#                                    <option >vmod</option>#}
{#                                    <option >mwe</option>#}
{#                                    <option >mark</option>#}
{#                                    <option >advmod</option>#}
{#                                    <option >neg</option>#}
{#                                    <option >rcmod</option>#}
{#                                    <option >quantmod</option>#}
{#                                    <option >nn</option>#}
{#                                    <option >npadvmod</option>#}
{#                                    <option >tmod</option>#}
{#                                    <option >num</option>#}
{#                                    <option >number</option>#}
{#                                    <option >prep</option>#}
{#                                    <option >poss</option>#}
{#                                    <option >possessive</option>#}
{#                                    <option >prt</option>#}
{#                                    <option >parataxis</option>#}
{#                                    <option >goeswith</option>#}
{#                                    <option >punct</option>#}
{#                                    <option >ref</option>#}
{#                                    <option >sdep</option>#}
{#                                    <option >xsubj</option>#}